body{
    height:8vh;
    background-color:greenyellow;
    border-top: 2px ;
    border-bottom: 2px ;
    border-color: green;
    border-style: solid;
    vertical-align: middle;
    font-weight: bolder;
  }
  
  

  