<body>
    <div class="navbar">  
      <div class="logo" > 
        <a routerLink="/game"> 
         <img class="float_left" src="../../assets/images/wallpaper/logo.png" width="175" height="175"> 
       </a>
      </div>
      <nav>
        <li>
          <a routerLink="/game" >Home
            <span class="link-space">
                 <span class="fare">Play</span>
                 <span class="back">Play</span>
            </span>
          </a>
        </li>
        <li>
            <a routerLink="/rules" >Rules
              <span class="link-space">
                   <span class="fare">Rules</span>
                   <span class="back">Rules</span>
              </span>
            </a>
        </li>
          <li>
            <a routerLink="/about" >About Us
              <span class="link-space">
                   <span class="fare">About Us</span>
                   <span class="back">About Us</span>
              </span>
            </a>
          </li>
     </nav>
     <h1 class="heading">{{route}}</h1>
    </div>
  </body>